<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
   
</head>
<body> -->

    <%- include("partials/partials.dash.header.ejs", { datos: datos, data: data }) %>

    <section class="content">
  
      <!-- Default box -->
      <div class="box">
        <div class="box-header with-border bg-navy" >
          <h3 class="box-title">Lista de Compras</h3>
  
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
              <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">
          <table border="1"">
                <tr>
                    <th>idcompras</th>
                    <th>idusuario</th>
                    <th>precio</th>
                    <th>fecha_compra</th>
               </tr>
               <% data.forEach(function(registro){%>
                <tr>
                    <td><%= registro.idcompra %></td>
                    <td><%= registro.idusuario %></td>
                    <td><%= registro.precio %></td>
                    <td><%= registro.fecha_compra %></td>
                </tr>        
                  
                   <% }) %>
               </table>
            <input type="hidden" id="idcompra">
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
  
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
  </div>
 
  
    <script src="./js/.js"></script>
    </div>
  <%- include("partials/partials.dash.footer.ejs") %>
  
  
  <!-- </body>
  </html> -->