<%- include("partials/partials.dash.header.ejs", { datos: datos, data: data }) %>

<section class="content">
    <div class="box">
        <div class="box-header with-border bg-navy">
            <h3 class="box-title">Lista de Productos</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="tableproducto">
                <div class="table-responsive">
                    <div class="info-box bg-purple">
                        <span class="info-box-icon"><i class="fa fa-fw fa-cubes"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Stok</span>
                            <span class="info-box-number"><%= data.length %></span>
                        </div>
                    </div>

                    <table border="1">
                        <thead>
                            <tr>
                                <th hidden>Id</th>
                                <th>N° Productos</th>
                                <th>Nombre</th>
                                <th>Color</th>
                                <th>Precio</th>
                                <th>Stock</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% data.forEach(function(registro, index) { %>
                            <tr>
                                <td data-label="Id" hidden><%= registro.idproducto %></td>
                                <td><%= index + 1 %></td>
                                <td data-label="Nombre"><%= registro.nombrep %></td>
                                <td data-label="Color"><%= registro.color %></td>
                                <td data-label="Precio"><%= registro.precio %></td>
                                <td data-label="Stock"><%= registro.stock %></td>
                                <td data-label="Opciones">
                                    <button onclick="cargarProducto(event)" class="btn btn bg-purple btn-sm" data-toggle="modal" data-target="#modificarproducto">
                                        <i class="fa fa-pencil-square"></i> Editar
                                    </button>
                                    <button onclick="eliminarProducto(event)" class="btn btn-danger btn-sm">
                                        <i class="fa fa-trash"></i> Eliminar
                                    </button>
                                    <button onclick="cargarCompra(event)" class="btn btn-success btn-sm" data-toggle="modal" data-target="#compraproducto">
                                        <i class="fa fa-shopping-cart"></i> Comprar
                                    </button>
                                </td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="box-footer">
            Lista de Productos
        </div>
    </div>
</section>

  
<!-- Modal para modificar producto -->
<div class="modal fade" id="modificarproducto" tabindex="-1" role="dialog" aria-labelledby="modificarProductoLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-navy">
                <h4 class="modal-title" id="modificarProductoLabel">Modificar Producto</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="idproducto">
                    <div class="form-group">
                        <label for="nombrep">Nombre</label>
                        <input type="text" class="form-control" id="nombrep">
                    </div>
                    <div class="form-group">
                        <label for="color">Color</label>
                        <input type="text" class="form-control" id="color">
                    </div>
                    <div class="form-group">
                        <label for="precio">Precio</label>
                        <input type="number" class="form-control" id="precio">
                    </div>
                    <div class="form-group">
                        <label for="stock">Stock</label>
                        <input type="number" class="form-control" id="stock">
                    </div>
                </form>
            </div>
            <div class="modal-footer bg-navy">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="modificarProducto()">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para comprar producto -->
<div class="modal fade" id="compraproducto" tabindex="-1" role="dialog" aria-labelledby="comprarProductoLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-navy">
                <h4 class="modal-title" id="comprarProductoLabel">Comprar Producto</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="nombrepcompra">Nombre del Producto</label>
                        <input type="text" class="form-control" id="nombrepcompra" readonly>
                    </div>
                    <div class="form-group">
                        <label for="preciocompra">Precio</label>
                        <input type="number" class="form-control" id="preciocompra" readonly>
                    </div>
                    <div class="form-group">
                        <label for="cantidadcompra">Cantidad</label>
                        <input type="number" class="form-control" id="cantidadcompra" value="1" min="1" oninput="calcularTotalCompra()">
                    </div>
                    <div class="form-group">
                        <label id="totalcompra">Total: $0.00</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer bg-navy">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="comprarProducto()">Comprar</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/productos.js"></script>
<%- include("partials/partials.dash.footer.ejs") %>

</body>
</html>
    
  <!-- </body>
  </html> -->  <!-- </body>
  </html> -->